.main {
  border-width: 2px;
  border-style: groove;
  border-color: white;
  width: 45rem;
  display: flex;
  align-items: center;

  input {
    margin-left: 5%;
    transform: scale(2.2);

    &:hover {
      cursor: pointer;
    }
  }

  h3 {
    padding-bottom: 11%;
    padding-left: 4rem;
    color: black;
  }
  .deleteMission {
    background-color: black;
    border-radius: 60%;
    margin-left: 1%;
    &:hover {
      cursor: pointer;
      background-color: red;
    }
  }
}
